.ht__mapa {
  height: 976px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.ht__mapa .info {
  background-size: cover;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 120px;
}

.ht__mapa .info h1 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 40px;
}

.ht__mapa .info .poderosoChef {
  margin-top: 40px;
}

.ht__mapa .info a {
  width: 188px;
  height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EE7E22;
  color: #fff;
  text-decoration: none;
  margin-top: 60px;
  -webkit-filter: drop-shadow(0px 15px 30px rgba(53, 29, 27, 0.25));
          filter: drop-shadow(0px 15px 30px rgba(53, 29, 27, 0.25));
  font-family: 'Open Sans';
}

.ht__mapa .info .rua {
  max-width: 256px;
  text-align: center;
  margin-top: 69px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Open Sans';
}

.ht__mapa .info .tel {
  width: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
  font-family: 'Open Sans';
  font-weight: bold;
}

.ht__mapa iframe {
  height: 100%;
  width: 50vw;
}

@media (max-width: 1400px) {
  .ht__mapa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ht__mapa .info {
    width: 100%;
    padding-bottom: 100px;
  }
  .ht__mapa .info a {
    border-radius: 20px;
  }
  .ht__mapa iframe {
    width: 100%;
    height: 150vw;
  }
}
/*# sourceMappingURL=ht_mapa.css.map */