.ht__mapa{
    height: 976px;
    width: 100vw;
 
    display: flex;
    color: #fff;
   
    .info{
       background-size: cover;
       width: 50%;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: 120px;

       h1{
        font-size: 28px;
        font-weight: bold;
        margin-top: 40px;
      }
      .poderosoChef{
      margin-top: 40px;

      }
      a{
        width: 188px;
        height: 61px;
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #EE7E22;

        color: #fff;
        text-decoration: none;

        margin-top: 60px;

        filter: drop-shadow(0px 15px 30px rgba(53, 29, 27, 0.25));
     
        font-family: 'Open Sans';

      }
      .rua{
        max-width: 256px;
        text-align: center;

        margin-top: 69px;

        font-weight: bold;
        font-size: 16px;

        font-family: 'Open Sans';
      }

      .tel{
        width: 192px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 40px;
        font-family: 'Open Sans';
        font-weight: bold;
      }
      
     
 
 
   }
    
   iframe{
    height: 100%;
    width: 50vw;
  }

 }

 @media(max-width:1400px){
   .ht__mapa{
     flex-direction: column;
     .info{
       width: 100%;
       padding-bottom: 100px;
       a{
         border-radius: 20px;
       }
     }
     iframe{
       width: 100%;
       height: 150vw;
     }
   }
 }