.ht__pratos {
  min-height: 2562px;
  width: 100vw;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  color: #fff;
  padding-bottom: 100px;
}

.ht__pratos img {
  margin-top: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.ht__pratos > h1 {
  font-size: 24px;
  font-family: 'Open Sans';
  font-weight: normal;
}

.ht__pratos > p {
  font-size: 48px;
}

.ht__pratos .disponibilidade {
  font-size: 28px;
  width: 505px;
  height: 61px;
  background-color: #27562C;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ht__pratos .disclaimer {
  margin-top: 40px;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: normal;
}

.ht__pratos .slick-slide > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ht__pratos .pratos__carrossel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__pratos .pratos_carrossel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  max-width: 50vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__pratos .pratos_carrossel .prato {
  margin: 0 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ht__pratos .pratos_carrossel .prato img {
  margin-bottom: 40px;
}

.ht__pratos .pratos_carrossel .prato h1 {
  font-size: 24px;
}

.ht__pratos .pratos_carrossel .prato p {
  margin-top: 20px;
  font-size: 24px;
  width: 116px;
  height: 38px;
  background-color: #EE7E22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__pratos .promo img {
  margin: 60px 25px;
}

.ht__pratos .pedido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.ht__pratos .pedido img {
  margin: 0;
}

.ht__pratos .pedido > h1 {
  margin-top: 80px;
  font-size: 28px;
}

.ht__pratos .pedido a {
  width: 338px;
  height: 65px;
  margin-top: 40px;
  background-color: #EE7E22;
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ht__pratos .pedido div {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__pratos .pedido div h1:nth-child(1) {
  font-size: 42px;
  width: 281px;
  height: 70px;
  background-color: #27562C;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ht__pratos .pedido div p {
  font-size: 22px;
}

.ht__pratos .pedido div h1 {
  font-size: 42px;
}

@media (max-width: 1400px) {
  .ht__pratos > h1 {
    font-size: 18px;
  }
  .ht__pratos > p {
    margin-top: 20px;
    font-size: 28px;
  }
  .ht__pratos .disponibilidade {
    width: 320px;
    font-size: 16px;
  }
  .ht__pratos .disclaimer {
    font-size: 18px;
    text-align: center;
  }
  .ht__pratos > img {
    width: 204px;
  }
  .ht__pratos .promo img {
    width: 148px;
    margin: 80px 5px 0 5px;
  }
  .ht__pratos .pedido > img {
    width: 272px;
  }
  .ht__pratos .pedido > h1 {
    font-size: 20px;
  }
  .ht__pratos .pedido a {
    font-size: 20px;
    width: 270px;
  }
  .ht__pratos .pratos_carrossel {
    max-width: 80vw;
  }
  .ht__pratos .pratos_carrossel .prato {
    margin: 0;
  }
}
/*# sourceMappingURL=ht_pratos.css.map */