.ht__pratos{
    min-height: 2562px;
    width: 100vw;
 
    padding-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
   background-size: cover;
   color: #fff;
   padding-bottom: 100px;
  //  button{
  //   background: none;
  // }
    img{
      margin-top: 100px;
      align-self: center;
    }
   >h1{
     font-size: 24px;
     font-family: 'Open Sans';
     font-weight: normal;

   }
   >p{
     font-size: 48px;
   }
   .disponibilidade{
     font-size: 28px;
     width: 505px;
     height: 61px;
     background-color: #27562C;
     margin-top: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
   }
   .disclaimer{
     margin-top: 40px;
     font-size: 18px;
     font-family: "Open Sans";
     font-weight: normal;
   }
   .slick-slide{
     >div{
      align-items: center;
      justify-content: center;
      display: flex;
     
     }
   }
   .pratos__carrossel-wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     
   }
   .pratos_carrossel{
     display: flex;
     margin-top: 80px;
     max-width: 50vw;
     justify-content: center;
    align-items: center;
     .prato{
     margin: 0 80px;
     align-items: center;
     justify-content: center;
     display: flex !important;
     flex-direction: column;
      img{
        margin-bottom: 40px;
      }
      h1{
        font-size: 24px;

      }
      p{
        margin-top: 20px;
        font-size: 24px;
        width: 116px;
        height: 38px;
        background-color: #EE7E22;
        display: flex;
        justify-content: center;
        align-items: center;
      }
     }
   }
   .promo{
    img{
     margin: 60px 25px;

    }
  }
  .pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

    img{
      margin: 0;
    }
    >h1{

      margin-top: 80px;
      font-size: 28px;
    }
    a{
      width: 338px;
      height: 65px;
      margin-top: 40px;
      background-color: #EE7E22;
      color: #fff;
      text-decoration: none;
      font-size: 28px;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    div{
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1:nth-child(1){
        font-size: 42px;
        width: 281px;
        height: 70px;
        background-color: #27562C;

        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      p{
        font-size: 22px;
      }
      h1{
        font-size: 42px;
      }
    }
  }

 }
 @media(max-width: 1400px){
   .ht__pratos{
     >h1{
       font-size: 18px;
     }
     >p{
       margin-top: 20px;
       font-size: 28px;
     }
     .disponibilidade{
       width: 320px;
       font-size: 16px;
     }
     .disclaimer{
       font-size: 18px;
       text-align: center;
     }
     >img{
       width: 204px;
     }
     .promo{
       img{
         width: 148px;
         margin: 80px 5px 0 5px;
       }
     }
     .pedido{
       >img{
         width: 272px;
       }
       >h1{
         font-size: 20px;
       }
       a{
         font-size: 20px;
         width: 270px;
       }
     }
     .pratos_carrossel{
      max-width: 80vw;
      .prato{
        margin: 0;
      }
     
     }
    }
 }