.ht__redes{
    width: 100vw;
    height: 1078px;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "a a a a"
        "b b c c"
        "d d c c"
        
    ;

    // display: flex;
    flex-direction: column;
   background-size: cover;
    .heart{
        grid-area: a;
        align-self: center;
        top: 0%;
        transform: translateY(-40%);
        margin: 0 auto;
    }
   
    .title{
            margin: 0 auto;

            width: 50%;
            flex-direction: column;

            align-items: center;
            justify-content: flex-end;
            grid-area: b;
            display: flex;

            h1{
                font-size: 24px;
                margin-bottom: 40px;
                color: #1E120D;
                font-family: 'Open Sans';
                font-weight: normal;

            }
            p{
                font-size: 56px;
                color: #1E120D;
            }
            

    }
    .buttons{
        grid-area: d;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        a{
            width: 180px;
            height: 61px;
            margin-top: 24px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            color: #fff;
            text-decoration: none;
            font-family: 'Open Sans';

            background-color: #1E120D;
            filter: drop-shadow(0px 15px 30px rgba(53, 29, 27, 0.25));
            
            img{
                margin-right: 16px;
            }
        }
        a:nth-child(1){
            margin-top: 36px;
        }
    }
    >img{
        grid-area: c;
        transform: translateY(0%);
        margin: 0 auto;
    }
}
@media(max-width: 1400px){
.ht__redes{
    height: 1414px;
    padding-bottom: 100px;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: min-content;
    grid-template-areas: 
        "a a a a"
        "b b b b"
        "c c c c"
        "d d d d"
    ;
    .heart{
        grid-area: a;
        align-self: baseline;
    }
    .title{
        grid-area: b;
        text-align: center;
        h1{
            font-size: 18px;
            margin-bottom: 40px;
        }
        p{
            font-size: 36px;
            width: 100vw;
            margin-bottom: 56px;
        }
    }
    .phone{
        grid-area: c;

        width: 249px;
    }
    .buttons{
        grid-area: d;

        a{
        border-radius: 20px;

        }
    }
}
}