.ht__redes {
  width: 100vw;
  height: 1078px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25vw 25vw 25vw 25vw;
      grid-template-columns: 25vw 25vw 25vw 25vw;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "a a a a" "b b c c" "d d c c";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
}

.ht__redes .heart {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: a;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 0%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  margin: 0 auto;
}

.ht__redes .title {
  margin: 0 auto;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ht__redes .title h1 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #1E120D;
  font-family: 'Open Sans';
  font-weight: normal;
}

.ht__redes .title p {
  font-size: 56px;
  color: #1E120D;
}

.ht__redes .buttons {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ht__redes .buttons a {
  width: 180px;
  height: 61px;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans';
  background-color: #1E120D;
  -webkit-filter: drop-shadow(0px 15px 30px rgba(53, 29, 27, 0.25));
          filter: drop-shadow(0px 15px 30px rgba(53, 29, 27, 0.25));
}

.ht__redes .buttons a img {
  margin-right: 16px;
}

.ht__redes .buttons a:nth-child(1) {
  margin-top: 36px;
}

.ht__redes > img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: c;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .ht__redes {
    height: 1414px;
    padding-bottom: 100px;
    -ms-grid-columns: 25vw 25vw 25vw 25vw;
        grid-template-columns: 25vw 25vw 25vw 25vw;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
        grid-template-areas: "a a a a" "b b b b" "c c c c" "d d d d";
  }
  .ht__redes .heart {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: a;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .ht__redes .title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: b;
    text-align: center;
  }
  .ht__redes .title h1 {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .ht__redes .title p {
    font-size: 36px;
    width: 100vw;
    margin-bottom: 56px;
  }
  .ht__redes .phone {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: c;
    width: 249px;
  }
  .ht__redes .buttons {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: d;
  }
  .ht__redes .buttons a {
    border-radius: 20px;
  }
}
/*# sourceMappingURL=ht_redes.css.map */