@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.ht__sobre {
  height: 1675px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.ht__sobre .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.ht__sobre .header h1 {
  font-size: 28px;
}

.ht__sobre .header img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 60px 0;
}

.ht__sobre .header p {
  max-width: 410px;
  text-align: center;
  font-family: 'Open Sans';
}

.ht__sobre .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__sobre .body h1 {
  font-size: 28px;
  margin-top: 63px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.ht__sobre .body h1 span {
  color: #FD9540;
}

.ht__sobre .body p {
  padding: 0;
  margin-top: 60px;
  font-size: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}

.ht__sobre .body p span:nth-child(1) {
  color: #FD9540;
}

.ht__sobre .body p span {
  padding-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Open Sans';
  letter-spacing: 0.2em;
}

.ht__sobre .line {
  width: 600px;
  height: 2px;
  background-color: #fff;
}

.ht__sobre .footer {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__sobre .footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px;
}

.ht__sobre .footer div div:nth-child(1) {
  max-width: 281px;
  font-size: 42px;
  text-align: center;
  line-height: 52px;
}

.ht__sobre .footer div div:nth-child(1) h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ht__sobre .footer div div:nth-child(1) span {
  background-color: #FD9540;
  font-size: 42px;
  margin-top: 30px;
  padding: 20px;
}

.ht__sobre .footer div div:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ht__sobre .footer div div:nth-child(2) p {
  font-size: 18px;
}

.ht__sobre .footer div div:nth-child(2) p span {
  color: #FD9540;
}

.ht__sobre .footer div div:nth-child(2) h1 {
  font-size: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ht__sobre .footer div div:nth-child(2) h1 span {
  font-size: 26px;
  font-family: 'Open Sans';
  font-weight: 200;
  letter-spacing: 0.2em;
}

.ht__sobre .footer > h1 {
  margin-top: 80px;
  font-family: 'Open Sans';
  font-weight: normal;
}

@media (max-width: 1400px) {
  .ht__sobre {
    padding: 80px 43px 0 43px;
  }
  .ht__sobre .header p {
    font-size: 18px;
    margin-bottom: 80px;
  }
  .ht__sobre .line {
    width: 320px;
  }
  .ht__sobre .footer {
    width: 100%;
  }
  .ht__sobre .footer div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ht__sobre .footer div div:nth-child(1) h1 {
    min-width: 281px;
  }
  .ht__sobre .footer div div:nth-child(2) {
    margin: 0 auto;
    margin-top: 60px;
  }
}
/*# sourceMappingURL=ht_sobre.css.map */