@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');



.ht__sobre {
   height: 1675px;
   width: 100vw;

   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   background-size: cover;

   // 1
   .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;

      h1 {
         font-size: 28px;
      }

      img {
         align-self: center;
         margin: 60px 0;
      }

      p {
         max-width: 410px;
         text-align: center;
         font-family: 'Open Sans';
      }
   }

   // 2
   .body {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
         font-size: 28px;
         margin-top: 63px;
         padding: 0;
         color: #fff;
         text-align: center;
         span {
            color: #FD9540;
         }
      }

      p {
         padding: 0;
         margin-top: 60px;

         font-size: 64px;
         display: flex;
         align-items: flex-start;
         color: #fff;

         span:nth-child(1) {
            color: #FD9540;
         }

         span {
            padding-top: 10px;
            color: #fff;

            font-size: 20px;
            font-weight: 200;
            font-family: 'Open Sans';
            letter-spacing: 0.2em;

         }
      }
   }

   .line {
      width: 600px;
      height: 2px;
      background-color: #fff;
   }

   // 3
   .footer {
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
         display: flex;
         margin: 0 30px;
         div:nth-child(1) {
            max-width: 281px;
            font-size: 42px;
            text-align: center;
            line-height: 52px;
            h1{
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
            }
            span {
               background-color: #FD9540;
               font-size: 42px;
               margin-top: 30px;
               padding: 20px;

            }
         }

         div:nth-child(2) {
            flex-direction: column;

            p {
               font-size: 18px;

               span {
                  color: #FD9540;
               }
            }

            h1 {
               font-size: 64px;
               display: flex;
               span {
                  font-size: 26px;
                  font-family: 'Open Sans';
                  font-weight: 200;
                  letter-spacing: 0.2em;
               }
            }
         }
      }

      >h1 {
         margin-top: 80px;
         font-family: 'Open Sans';
         font-weight: normal;
      }
   }


}

@media(max-width: 1400px) {
   .ht__sobre{

      padding: 80px 43px 0 43px;
      .header{
         p{
            font-size: 18px;
            margin-bottom: 80px;
         }
      }
      .line{
          width: 320px;
      }
      .footer{
         
    width: 100%;

         div{
            flex-direction: column;
            div:nth-child(1) h1{
               min-width: 281px;
            }
            div:nth-child(2){
               margin: 0 auto;
               margin-top: 60px;
            }
         }
      }
   }
 }