*{ box-sizing: border-box; }
body{ 
  /* margin-top: 100px; */
  color: var(--cor-texto); 
  overflow-x: hidden;
}
@font-face {
  font-family: 'Alaska';
  src: url(/fonts/alaska-2.ttf);
  src: url(/ht_include/css/fonts/alaska-2.ttf);
}
@font-face {
  font-family: Alistair;
  src: url(/ht_include/css/fonts/Alistair\ Signature.otf);
  src: url(/fonts/Alistair\ Signature.otf);
}
h1, p, a{
  font-family: 'Alaska';
  font-weight: 200;
}

#wpadminbar { z-index:10 !important;  }
.ht-title{
  display: block;
  margin-bottom: 35px;

  font-size: 1.77rem;
  color: var(--cor-primaria);
}
.ht-title--dark{ color: #ffffff; }
.ht-button{
  padding:15px 25px;
  border-radius: 20px;
  display: inline-block;
  background-color: var(--cor-secundaria);
  transition: ease-in 0.3s;
  border:0;

  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
}
.ht-button:hover{
  box-shadow: 0 5px 10px var(--cor-primaria-alpha);
}
.ht-button--active{ background-color: var(--cor-primaria); }
.ht-button--dark{
  background-color: #ffffff;

  color: var(--cor-primaria);
}
.ht-button--dark:hover{
  box-shadow: 0 5px 10px rgba(255,255,255,0.3);
}
.ht-button--dark-outline{
  background-color: rgba(255,255,255,0);
  border: 1px solid #ffffff;

  color: #ffffff;
}
.ht-button--dark-outline:hover{
  box-shadow: 0 5px 10px rgba(255,255,255,0);
}
.ht-button--light-outline{
  background-color: rgba(255,255,255,0);
  border: 1px solid var(--cor-primaria);

  color: var(--cor-primaria);
}
.ht-button--light-outline:hover{
  box-shadow: 0 5px 10px rgba(255,255,255,0);
}
.modal__wrapper{
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 11;
}
.modal__container{
  width: 100%;
  max-width: 750px;
  padding: 40px;
  max-height: 95%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  z-index: 11;
  overflow: auto;
}
.modal__container::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
  transition: ease-in 0.3s;
}

/* Track */
.modal__container::-webkit-scrollbar-track {
  background: rgba(168,153,57,0.3);
  border-radius: 100px;
  transition: ease-in 0.3s;
}

/* Handle */
.modal__container::-webkit-scrollbar-thumb {
  background: #A89939;
  border-radius: 100px;
}

/* Handle on hover */
.modal__container::-webkit-scrollbar-thumb:hover {
  background: #867a2e;
}
@media(max-width:767px){
  .modal__container{
    border-radius: 0;
    padding:20px;
    max-height: 100%;
  }
}
.modal__header{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}
.modal__close{
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #C0392B;
  text-decoration: none;
}
.modal__body{
  width: 100%;
}
.modal__body p{ margin-bottom: 25px; }
.modal__body p:last-child{ margin-bottom: 0; }

.modal__body::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
  transition: ease-in 0.3s;
}

/* Track */
.modal__body::-webkit-scrollbar-track {
  background: rgba(168,153,57,0.3);
  border-radius: 100px;
  transition: ease-in 0.3s;
}

/* Handle */
.modal__body::-webkit-scrollbar-thumb {
  background: #A89939;
  border-radius: 100px;
}

/* Handle on hover */
.modal__body::-webkit-scrollbar-thumb:hover {
  background: #867a2e;
}
.ht-section__double,
.ht-section__single{
  display: grid;
  grid-gap: 0;
  padding:0;
  margin:0;
  width: 100%;
  grid-template-columns: 1fr;
}
.ht-single__wrapper{
  padding:100px 25px;
  background: #ffffff;
}
.ht-single__text{ text-align: center;}
.ht-section__double--text-first{
  grid-template-areas: "ht-section__text"
                       "ht-section__image";
}
.ht-section__double--image-first{
  grid-template-areas: "ht-section__image"
                       "ht-section__text";
}
.ht-section__double--mobile-text-first{
  grid-template-areas: "ht-section__text"
                       "ht-section__image";
}
.ht-section__double--mobile-image-first{
  grid-template-areas: "ht-section__image"
                       "ht-section__text";
}
.ht-section__text{
  padding:100px 35px;
  background: #ffffff;
  grid-area: ht-section__text;
}
.ht-section__image{
  min-height: 450px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: ht-section__image;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ht-section__wrapper { width: 100%; }
.ht-section__image iframe{
  width: 100% !important;
  height: 100vh !important;
}
.ht-section__cta{
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.ht-center__item{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(min-width:767px){
  .ht-section__double{ grid-template-columns: 1fr 1fr; }
  .ht-section__single{ grid-template-columns: repeat(4,1fr); }
  .ht-single__wrapper{ grid-column: 2 / 4; }
  .ht-section__double--text-first{ grid-template-areas: "ht-section__text ht-section__image"; }
  .ht-section__double--image-first{ grid-template-areas: "ht-section__image ht-section__text"; }
  .ht-section__double--desktop-text-first{ grid-template-areas: "ht-section__text ht-section__image"; }
  .ht-section__double--desktop-image-first{ grid-template-areas: "ht-section__image ht-section__text"; }
  .ht-section__image,
  .ht-section__text{ min-height: 100vh;}
  .ht-section__text{
    min-height: calc( 100vh - 100px );
    display: flex;
    align-items: center;
    padding:100px;
  }
  .ht-section__cta{ justify-content: flex-start;}
  .ht-text__wrapper{
    width: 100%;
    max-height: 300px;
    overflow: auto;
  }
  .ht-text__wrapper::-webkit-scrollbar {
    width: 10px;
    border-radius: 100px;
    transition: ease-in 0.3s;
  }

  .ht-text__wrapper::-webkit-scrollbar-track {
    background: var(--cor-texto-rolagem-caminho);
    border-radius: 100px;
    transition: ease-in 0.3s;
  }
  .ht-text__wrapper::-webkit-scrollbar-thumb {
    background: var(--cor-texto-rolagem-alca);
    border-radius: 100px;
  }
  .ht-text__wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--cor-texto-rolagel-alca-hover);
  }
}
.ht-text a{
  color: var(--cor-primaria);
  font-weight: bold;
}
.ht-text p{
  margin-bottom: 35px;

  line-height: 22px;
}
.ht-text p:last-child{ margin-bottom: 0;}
.ht-text ul,
.ht-text ol{
  padding-left: 35px;
  padding-bottom: 35px;
}
.ht-text h1,
.ht-text h2,
.ht-text h3,
.ht-text h4,
.ht-text h5,
.ht-text h6{
  margin-bottom: 45px;
  display: block;

  color: var(--cor-principal);
  font-weight: bold;
}
.ht-text h1{ font-size: 1.77rem;  }
.ht-text h2{ font-size: 1.57rem;  }
.ht-text h3{ font-size: 1.47rem;  }
.ht-text h4{ font-size: 1.37rem;  }
.ht-text h5{ font-size: 1.27rem;  }
.ht-text h6{ font-size: 1.17rem;  }
.ht-text li{ margin-bottom: 10px;}
.ht-text a{ color: var(--cor-principal); }
.alignleft{
  float: left;
  margin: 15px;
  margin-left: 0;
  margin-top: 0;
}
.alignright{
  float: right;
  display: inline;
  margin-left: 15px;
  margin-top: 0;
  margin-right: 0;
}
.ht-text .aligncenter{
  margin:15px auto;
  display: block;
}

.ht-text blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 25px;
  quotes: "\201C""\201D""\2018""\2019";
}
.ht-text blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.ht-text blockquote p {
  display: inline;
}

.ht__float{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 57px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.ht__float a{
  z-index: 2;
}
.ht__float div{
  height: 58px;
  width: 373px;
  border-radius: 50px;

  background: #397348;

  transform: translateX(20%);
  z-index: 1;

  justify-content: flex-start;
  align-items: center;

  padding-left: 20px;  
  opacity: 0;
  display: none;

  transition: all 0.2s;
}
.ht__float h1{
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
}

.ht__float:hover div{
  display: flex;
   opacity: 1;
}

@media(max-width:1399px){
  .ht__float{
    display: none;
  }
}