@media(max-width:500px){
  .ht-home-banner--desktop{ display: none !important; }
  .ht-home-banner--mobile{ display: block !important; }
  

  .slick-dots{
    position: absolute;
    width: 100%;
    display: flex !important;
    justify-content: center;
    bottom: 15px;
    margin: 0 auto;
  }

  .slick-dots li{
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    border-radius: 1000px;
    margin-right: 5px;

    text-indent: -9000px;
  }
  .slick-dots li:last-child{ margin-right: 0;}
  .slick-dots li.slick-active{ background: rgba(255,255,255,1);}
}
@media(min-width:501px){
  .ht-home-banner--desktop{ display: block !important; }
  .ht-home-banner--mobile{ display: none !important; }

  .slick-dots{
    position: absolute;
    width: 100%;
    display: flex !important;
    justify-content: center;
    bottom: 15px;
    margin: 0 auto;
  }
  .slick-dots li{
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    border-radius: 1000px;
    margin-right: 5px;

    text-indent: -9000px;
  }
  .slick-dots li:last-child{ margin-right: 0;}
  .slick-dots li.slick-active{ background: rgba(255,255,255,1);}
  .slick-dots button{
    display: block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    border-radius: 1000px;
    cursor: pointer;

    text-indent: -9000px;
  }
  .slick-dots button:focus{ outline: none; }
  .slick-dots .slick-active{
    background: rgba(255,255,255,1);
    width: 10px;
    height: 10px;
    border-radius: 1000px;
  }
}
.ht-home-banner__item{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.ht-home-banner__item--mobile{
  background-color: #FFFFFF;
  position: relative;
}
.ht-home-banner__overlay{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
}
.ht-home-banner__item--desktop{
  justify-content: flex-start;
}
.ht-home-banner__content--desktop{
  width: 50%;
  height: 100%;
  padding:15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 80%, #FFFFFF 100%);;
}
.ht-home-banner__wrapper--desktop{
  width: 60%;
  padding:15px;
}
.ht-home-banner__title--desktop{
  margin-bottom: 65px;

  color: var(--cor-primaria);
  text-shadow: 0 5px 10px rgba(0,0,0,0.15);
  font-size: 2.25rem;
  font-weight: bold;
  text-align: left;
}
.ht-home-banner__title--desktop span{
  color: var(--cor-primaria);
  font-size: 2.9375rem;
}
.ht-home-banner__text--desktop{
  margin-bottom: 65px;

  text-align: left;
  font-size: 1rem;
  text-shadow: 0 5px 10px rgba(0,0,0,0.15);
  color: var(--cor-primaria);
}

.ht-home-banner__link--desktop{
  background-color: var(--cor-secundaria);
  margin: 0 auto;
  margin-top: 65px;

  text-decoration: none;
  color: #FFFFFF;
}
@media(min-width:501px) {
  .ht-home-banner__link--desktop{
    margin:0;
    margin-top: 65px;
  }
}
.ht-home-banner__link--desktop i,
.ht-home-banner__link--mobile i{ margin-right: 15px; }

.ht-home-banner__content--mobile{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ht-home-banner__wrapper--mobile{
  width: 100%;
  padding:20px;
}
.ht-home-banner__title--mobile{
  margin-bottom: 65px;

  color: var(--cor-primaria);
  text-shadow: 0 5px 10px rgba(0,0,0,0.15);
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}
.ht-home-banner__title--mobile span{
  color: var(--cor-primaria);
  font-size: 2.25rem;
}
.ht-home-banner__text--mobile{
  margin-bottom: 25px;

  text-align: center;
  font-size: 1.15rem;
  text-shadow: 0 5px 10px rgba(0,0,0,0.15);
  color: var(--cor-primaria);
}
